/* ----------------------------------------------------------------------
 Form Parts
---------------------------------------------------------------------- */
.form {
  &-require {
    color: $red;
  }
  &-select {
    padding: 10px;
  }
  &-text {
    padding: 10px;
  }
  &-textarea {
    padding: 10px;
  }
}