/*******************************
Default Style
*******************************/
html {
  
}
body {
  font-family: $font;
	color: $color;
	line-height: 1.5;
}
body * {
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
}
iframe[name=google_conversion_frame] {
	position: absolute;
	top: 0;
}
input,button,textarea,select {
	color: $color;
	font-family: $font;
	font-size: 16px;
}
textarea {
	vertical-align: top;
}
textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select {
	padding: 10px;
	border-radius: 5px;
	border: solid 1px #aaa;
}
*:focus {
	outline:none;
}
img {
  max-width: 100%;
  height: auto;
}
a:hover {
	backface-visibility: hidden;
}