/* ----------------------------------------------------------------------
 common class
---------------------------------------------------------------------- */
@include break2_up {
  .pc-non {
    display: none !important;
  }
}
@include break2 {
  .sp-non {
    display: none !important;
  }
}

.mb0 { margin-bottom: 0; }

.tCenter { text-align: center; }

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.telLink {
  color: inherit;
  text-decoration: none;
  @include break2_up {
    pointer-events: none;
  }
}
.wrapper {
  width: $wrapper;
  margin: 0 auto;
  position: relative;
  @include break2 {
    width: auto;
  }
}
.hoverImg {
  transition: .3s;
  @include break2_up {
    &:hover {
      opacity: 0.7;
    }
  }
}
.hoverTxt {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}
.require {
  display: inline-block;
  background-color: $red;
  color: #fff;
  font-size: 1.4rem;
  padding: 3px 5px;
  border-radius: 4px;
  margin-left: 5px;
}
